.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotoNombreDescripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto {
    display: flex;
    flex-direction: row;
}