* {
    margin: 0;
    font-family: 'Yatra One';
    font-weight: 400;
    background: var(--fondo);
    color: var(--texto);
}
:root {
    --fondo: #15212a;
    --texto: #99c9bd;
    --bordes: #f75e50;
    --link: #d7b89c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotoNombreDescripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion {
    margin: 6px;
}
.fotoNombreDescripcion .foto img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
} 
.fotoNombreDescripcion .nombre {
    font-weight: bolder;
}
.fotoNombreDescripcion .descripcion {
    text-align: center;
    font-style: oblique;
}
.listaLinks {
    display: flex;
    flex-direction: column;
}
.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8px;
    text-align: center;
    padding: 8px 0;
    border-radius: 20px;
    width: 90vw;
    border: 2px solid var(--bordes);
    background: var(--fondo);
}
.link i {
    color: var(--link);
    padding: 0 6px;
}
.link a {
    text-decoration: none;
    color: var(--link);
}
.wspEmail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacto {
    padding: 8px;
    margin: 32px 10px;
}